{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div id="js-user-app">Loading...</div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="/js/playlister/vendor.js"></script>
<script type="text/javascript" src="/js/playlister/Playlister.js"></script>
<script type="text/javascript">
    $(function() {
        // get the token and shit and pass it into this
        var params = getHashParams();

        var access_token = params.access_token,
            state = params.state;

        var $el = $('#js-user-app');

        if (!access_token) {
            $el.html('There was a problem retreiving your access token');
            return;
        }

        new Playlister({
            el: $el.get(0),
            token: access_token,
            urls: {
                feedList: '/api/feeds'
            }
        }).start();
    });
</script>
{% endblock %}
