{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 jumbotron text-center landing">
        <h1>Playlister</h1>
        <p>Auto populate Spotify playlists based on data feeds like Pitchfork's Best New Tracks</p>
        <button type="button" id="login-button" class="btn btn-success btn-lg">Login with Spotify</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>window.REDIRECT_URI = '{{ redirectUri }}';</script>
<script type="text/javascript" src="js/index.js"></script>
{% endblock %}
